{% layout "base" %} {% block content %}

<h1>Restablece tu contraseña de {{projectName}}</h1>

<p style="padding-bottom: 30px">
  Hemos recibido una solicitud para restablecer la contraseña de tu cuenta de
  <i>{{ projectName }}</i>. Si no realizaste esta solicitud, por favor
  contacta a uno de nuestros administradores. De lo contrario, para completar el proceso, haz clic
  en el siguiente enlace para confirmar tu dirección de correo electrónico e ingresar tu nueva contraseña.
</p>

<a
  class="button"
  rel="noopener"
  target="_blank"
  href="Criptodery://reset-password{{url}}"
  style="
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    border-radius: 8px;
    background: #171717;
    border: 1px solid #ffffff;
  "
>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
      >&nbsp;</i
    >
  <![endif]-->
  <span style="mso-text-raise: 15pt">Restablecer tu contraseña</span>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i>
  <![endif]-->
</a>

<p style="padding-top: 30px">Importante: Este enlace expirará en 24 horas.</p>

{% endblock %}
