{% layout 'base' %} {% block content %}

<h1>Verifica tu dirección de correo electrónico</h1>

<p style='padding-bottom: 30px'>
  Gracias por registrarte en <i>{{ projectName }}</i>.
  Para completar tu registro, necesitas verificar tu dirección de correo electrónico abriendo el siguiente enlace de verificación.
  Por favor, ignora este correo si no has iniciado el registro personalmente.
</p>

<a
  class='button'
  rel='noopener'
  target='_blank'
  href='criptodery://user-registration/{{url}}'
  style='
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    border-radius: 8px;
    background: #171717;
    border: 1px solid #ffffff;
  '
>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
      >&nbsp;</i
    >
  <![endif]-->
  <span style='mso-text-raise: 15pt'>Verificar correo</span>
  <!--[if mso]> <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i> <![endif]-->
</a>

{% endblock %}
